$lightGrey: #ececec;


$lightestBlue: #e9f5fb;
$lightBlue: #B0DAF1;
$darkBlue: #134d6c;

$lightPurple: #B0BAF1;
$darkPurple: #13216c;

$lightPink: #F1B0DA;
$darkPink: #6c134d;

$lightOrange: #FEC8AF;
$darkOrange: #b03902;

$smokeBlack: #1C110A;
$standardBoxShadow: 0px 5px 15px 3px rgba(0,0,0,0.2);

