@import './colours.scss';

.post-wrapper {
  display: grid;
  padding: 1rem;
  width: 80%;
  border: 1px solid $smokeBlack;
  margin: 0.5rem;
  border-radius: 0.25rem;
  background-color: $lightOrange;
}

.post-title {
  font-size: 2rem;
  padding-bottom: 1rem;
  color: $darkOrange;
}

.post-content {
  font-size: 1rem;
  color: $darkOrange;
}
